/* BODY */
body {
  /* Variables */
  --green: #82B894;
  --blue: #83bbe3ff;
  --magenta: #B882A6;
  --orange: #B89482;
  --grey: #6B6B6B;

  --subtleShadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  --hoverShadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

  --contRadius: 0px;

}

button {
  padding: 5px;
  border-radius: 4px;
  transition: ease-in 0.1s transform;
}

button img {
  width: 20px;
  transition: ease-in 0.1s transform;
}

button img:hover {
  transform: scale(1.2);
}

/* GLOBAL CLASSES */
#root {
  /* STYLES */
  width: 100%;
  min-height: 100vh;
  /* LAYOUT */
  display: flex;
  flex-direction: column;
  padding: 30px 0;
}

.floatingLayout {
  padding: 10px 20px;
  margin: 15px;
  border-radius: var(--contRadius);
  box-shadow: var(--subtleShadow);
}

/* NAVBAR */
nav {
  font-family: "Glanzyo";
  background-color: var(--blue);
  display: flex;
  align-items: center;
  justify-content: end;
}

/*CURRICULUM*/
main.Curriculum {
  font-family: Arial;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px 25px;
  width: 80%;
  margin: 0 auto;
}

main section {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

main section header {
  display: flex;
  justify-content: space-between;
  color: var(--grey);
  font-family: "Glanzyo";
  margin-bottom: -10px;
}

main section header h2 {
  font-size: 1.2em;
  font-weight: 800;
}

hr {
  border: none;
  border-top: 2px solid var(--grey);
}

article {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

article h3 {
  font-size: 28px;
}

.profile {
  gap: 5px;
}

.profileHeader {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.profileHeader h3 {
  font-weight: 600;
  font-size: 1.8em;
}

.profileDetails {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.profileAbout {
  font-size: 18px;
  text-align: center;
}

.artHeader {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.artTitle {
  display: flex;
  gap: 25px;
}

.artDetails {
  display: flex;
  gap: 10px;
}

/* Editing Form */
form.floatingLayout {
  font-family: "Glanzyo", Arial;
  box-shadow: var(--hoverShadow);
  margin: 30px auto;
  width: 80%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  color: var(--grey);
}

form h3 {
  color: black;
  font-size: 32px;
  border-bottom: 2px solid black;
}

form section {
  width: 100%;
  height: 150px;
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 10px;

}

.formGroup {
  width: 100%;
  display: grid;
  grid-template-columns: 30% 70%;
}

input {
  color: var(--grey);
  height: 1.8em;
  padding: 5px;
}

textarea {
  color: var(--grey);
  min-height: 90px;
  width: 100%;
  padding: 5px;
}



form button {
  width: fit-content;
  padding: 5px 35px;
  margin: 30px auto 0 auto;
  box-shadow: var(--subtleShadow);
}

form button:hover {
  transform: scale(1.05);
}
