/* BODY */
body {
  /* Variables */
  --green: #82B894;
  --blue: #83bbe3ff;
  --magenta: #B882A6;
  --orange: #B89482;
  --grey: #6B6B6B;

  --subtleShadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  --hoverShadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

  --contRadius: 0px;

}

button {
  padding: 5px;
  border-radius: 4px;
  transition: ease-in 0.1s transform;
}

button img {
  width: 20px;
  transition: ease-in 0.1s transform;
}

button img:hover {
  transform: scale(1.2);
}

/* GLOBAL CLASSES */
#root {
  /* STYLES */
  width: 100%;
  min-height: 100vh;
  /* LAYOUT */
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 0 30px 0;
}

.floatingLayout {
  padding: 10px 20px;
  margin: 10px;
  border-radius: var(--contRadius);
  box-shadow: var(--subtleShadow);
}

/* NAVBAR */
nav.floatingLayout {
  font-family: "Glanzyo";
  background-color: var(--green);
  display: flex;
  align-items: center;
  justify-content: end;
  border-radius: 5px;
  padding: 15px;
}

nav h1 {
  line-height: 1;
}

/*CURRICULUM*/
main.Curriculum {
  font-family: Arial;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 30px 25px;
  width: 75%;
  margin: 0 auto;
  min-height: 100vh;
}

main section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 5px 0 0 0;
}

main section header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--grey);
  font-family: "Glanzyo";
  margin-bottom: -5px;
}

main section header h2 {
  font-size: 1.4em;
  font-weight: 800;
}

.addBtn {
  padding: 5px 15px;
  line-height: 1;
}

.addBtn:hover {
  transform: scale(1.05);
  box-shadow: var(--subtleShadow);
  background-color: var(--green);
}

hr {
  border: none;
  border-top: 2px solid var(--grey);
}

article:not(.profile) {
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding-bottom: 5px;
}

.profile {
  gap: 5px;
}

.profileHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5px;
  gap: 10px;
  transition: 0.1s ease-out transform;
}

.profileHeader h3 {
  font-weight: 500;
  font-size: 28px;
}

.profileDetails {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 16px;
}

.profileAbout {
  font-size: 18px;
  text-align: center;
  margin: 0 0px;
  font-style: italic;
}

.artHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.artHeader .artTitle {
  display: flex;
  align-items: center;
  gap: 25px;
  font-weight: 600;
  font-size: 22px;
  line-height: 1;
}

.artTitle h3 {
  line-height: 1;
}

.artDuration {
  font-weight: 600;
}

.artDetails {
  display: flex;
  gap: 10px;
  font-size: 18px;
}

.artDesc {
  font-size: 18px;
  font-style: italic;
}

/* Editing Form */
form.floatingLayout {
  font-family: "Glanzyo", Arial;
  box-shadow: var(--hoverShadow);
  margin: 30px auto;
  width: 80%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  border-radius: 5px;
}

form h3 {
  color: black;
  font-size: 32px;
  border-bottom: 2px solid black;
}

form section {
  width: 100%;
  height: 150px;
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 10px;

}

.formGroup {
  width: 100%;
  display: grid;
  grid-template-columns: 30% 70%;
}

label {

  font-weight: 600;
}

input {
  height: 1.8em;
  padding: 5px;
  border: 1.5px solid black;
  border-radius: 3px;
  line-height: 1;
  outline: none;
  transition: ease-in-out 0.1s transform;
}


textarea {
  min-height: 90px;
  width: 100%;
  padding: 5px;
  border: 1.5px solid black;
  border-radius: 3px;
  line-height: 1;
  outline: none;
  transition: ease-in-out 0.1s transform;
}

input:focus,
textarea:focus {
  border-color: #4a90e2;
  border: 1.5px solid black;
  transform: scale(1.01);
}

form button {
  width: fit-content;
  padding: 3px 40px 1px 40px;
  margin: 30px auto 0 auto;
  font-size: 1.1em;
  font-weight: 600;
  border-radius: 3px;
  box-shadow: var(--subtleShadow);
}



form button:hover {
  transform: scale(1.05);
}

.profileHeader .editBtn {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;

}

.editBtn img {
  width: 20px;
}

.artBtnCont {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
  padding: 5px 8px;
}

.artBtnCont:hover,
.profileHeader .editBtn:hover {
  box-shadow: var(--subtleShadow);
  background-color: var(--green);
}
